[data-md-color-scheme="glean"] {
  --md-primary-fg-color: #3a3134;
}
@font-face {
  font-family: "Sharp Sans";
  color: #3a3134;
  src: url("/assets/SharpSans-Medium.woff2") format("woff2");
}
h1,
h2,
h3,
h4 {
  font-family: "Sharp Sans";
}
